*{
  box-sizing: border-box; 
}
body {
  padding-left: 7vw;
  padding-right: 5vw;
}
h1 {
  font-family: 'Ceviche One', cursive;
  font-size: 50px;
  text-align: center;
}
select {
  margin:0px auto
}
h2{
  font-family: 'Ceviche One', cursive;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}
p{  
  font-family: 'Ceviche One', cursive;
  font-size: 24px;
  text-align: center;
  
}
div {
  float:left;
  margin:30px;
  width: 250px;
  height: 250px;
  padding:35px;
}
footer {
  text-align: center;
  clear: left;
  padding-top: 60px;
  padding-bottom: 30px;
}
img {
  margin :auto;
  max-width:100%;
  max-height:100%;
}

