*{
  box-sizing: border-box;
}

h1 {
  font-family: 'Ceviche One', cursive;
  font-size: 50px;
  text-align: center;
}
select {
  margin:0px auto
}
h2{
  font-family: 'Ceviche One', cursive;
  font-size: 36px;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}
p{  
  font-family: 'Ceviche One', cursive;
  font-size: 24px;
  text-align: center;
  
}
div {
  border:5px solid ;
  clear:right;
  float:left;
  margin:5px;
  width: 250px;
  height: 250px;
  display: flex;
  padding:5px;
  overflow: hidden;
}

main{
  overflow:hidden;
}
footer {
  text-align: center;
}
img {
  margin :auto;
  max-width:250px;
  max-height:250px;

}
