*{
  box-sizing: border-box; 
}
html,body {
  height:100%;
}

body{
  display:flex;
  flex-direction: column;
  
}
h1 {
  font-family: 'Ceviche One', cursive;
  font-size: 50px;
  text-align: column;
}
select {
  margin:0px auto;
  flex:1;
}
h2{
  font-family: 'Ceviche One', cursive;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: column;
}
p{  
  font-family: 'Ceviche One', cursive;
  font-size: 24px;
  text-align: column;
  
}
div {
  flex-direction:column;
  margin:30px;
  max-width: 30%;
  height: 20%;
  padding:35px;
}

.flex-container {
  max-width: 100%;
  margin-top: 1em;
  display:flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-content: flex-start;
}

img {
  flex-direction: column;
  margin :auto;
  max-width:100%;
  max-height:100%;
}
footer {
  text-align: center;
  clear: left;
  padding-top: 60px;
  padding-bottom: 30px;
}
